<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/indexStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
    <section id="header">
        <img src="/public/images/Logo/eau_de_parfum-removebg-preview.png" class="logo" alt="Company logo">

        <ul id="navbar">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/signin">SignIn</a></li>
            <li><a href="/signup">SignUp</a></li>
        </ul>

    </section>
    <div id=featured>
        <h1>50% off</h1>
        <h2>On our new arrivals</h2>
        <a href="#New"><button class ="normal" >Buy Now</button></a>
    </div>
    <section id="featuredPeddle" class="padding-p1">
        <h2>Favourate Pebbles</h2>
        <p> All time favourate</p>
        <div class="container">
            
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
        </div>
        


    </section>
    <section id = "New"></section>
    <section id = "support">
        <h2>Help mend our fractured rocks </h2>
        <button class="normal">Donate</button>
    </section>
    
    <section id="featuredPeddle" class="padding-p1">
        
        <h2>New arrivals</h2>
        <p>New line of rocks</p>
        <div class="container">
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
            <div class="product">
                <img src="/public/images/productImg/steve.png">
                <div class="description">
                    <span>Steve</span>
                    <p>Steve, the solid mountain sentinel.</p>
                    <p class="price">$100</p>
                    
                </div>
                <button class="cart" href = "#">add to cart</button>
            </div>
        </div>
        


    </section>
    <section id = "NewsLetter">
        <div class ="Lcontent">
        <h2>Sign Up for News Letter</h2>
        <p>Get email update about our discounts and offers</p>
        
        <div class = "form">
            <input type = "email" placeholder="Enter your email">
            <button type = "submit">submit</button>
        </div>
    </div>
    </section>
    <footer class = "">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="/email">Email</a></li>
            <li><a href="#">Privacy Policy</a></li>
      
          </ul>
          
          <p>Hope you enjoyed our website. Fund our website by visiting <a href="#" id = "footlink">Givememoney.com</a>.</p>
           <p>for further inquires text us at +1 (613) 889 5947 or send us an email.</p>
        
    </footer>
</body>

</html>

