<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>
  <div class="format5">
    <h1>Sign Up</h1>

    <form action="/signup" method="POST">

      <input type="text" id="username" name="username" required class="input-box" placeholder="Enter a Username">
      <input type="password" id="password" name="password" required class="input-box" placeholder="Enter a Password">

      <button type="submit" class="signBtn">Sign Up</button>
    </form>
    <p><input type="checkbox" required> I agree with the terms and services</p>

    <hr>
    <p>or <a href="/signin">Sign In</a> </p>
    <button onclick="location.href='/'" class="signBtn">Back to Home</button>
  </div>
</body>

</html>